/* Custom container */

/* Replaced with normal container and standard footer */
/*.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }
*/

/* Replaced with standard BS3 Navbar */
/*.navbar .nav {
  float: right; }*/


/* Settings for all */
* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: #0E152F;
  text-align: center;
}
#footer {
  text-align: center;
}


/* navbar settings */
.navbar {
  background-color: #0E152F;
}
.navbar a {
  color: #FFF;
  font-size: 18px;
}
.navbar a:hover{
  color: #0E152F;
  font-size: 18px;
}
.navbar-header {
  float: left;
  /*padding: 15px;*/
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float: none;
}

#brand {
  width: 10%;
  position: fixed;
  left: 50%;
  margin-left: -5%;
  padding: 1.2%;
  background-color: #0E152F;
  border-radius: 50%;
  z-index: 1000;
}
#brand:hover {
  background-color: #515F90;
  border: 1.5px solid #0E152F;
}

.navbar-nav {
  width: 100%;
  z-index: -1; /* make navbar things behind the brand-logo */
}

.navbar-nav li a {
  border-radius: 10%;
}

/* place dropdown behind brand-logo and make it same width as navbar links */
.dropdown-menu {
  /*padding-right: 15px; */
  z-index: -1;
  width: 90%;
  background-color: #515F90;
}

.dropdown-menu a {
  color: #FFF;
}

/* Typer styles */
.type-wrapper {
  margin: 30px 50px 10px 50px;
  padding: 20px 0;
  color: #F0F0F0;
  background-color: rgba(204,204,204,0.2);
  border-radius: 10px;
  font-size: 20px;
}

#type-space {
  font-size: 30px;
}


/* styles for index feature */
#feature {
  background: url("../images/UCL.png");
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  color: #F4F4F4;
  padding: 20px;
  margin: none;
  width: 100%;
}
#feature h1 {
  padding-top: 10%;
  color: #F6F6F6;
}
#feature ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

/* see https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  border: 8px solid rgba(153,153,153,0.5);
  border-radius: 10px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 /* border-radius: 5% !important;*/
}


/* styles for page body, mainly add a top padding so it's not blocked by nav-bar */
.page-body {
  padding-top: 10%;
}

/* padding for index body */
.main-body {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
}

/* circle in h2 border */
#circle {
  float: left;
  border: 2px solid #000;  
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; 
  margin-top: 5px;
}
hr {
  border-top: 2px solid #000;
}

/*hr {
  float: right;
  width: 95%;
}*/

.intro-text {
  padding: 0 5%;
}

#feature-vid {
  padding: 2%;
  margin: 0;
  border-radius: 10px;
  background: rgba(153,153,153,0.1);
  min-height: 300px;
}


/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  font-weight: bold; }

.post-full .author {
  margin-bottom: 20px;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }


  .circular-container{
  margin-left: 10%; }
    
.circular{
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-left: 10px; }

.circular .overlay{
  top: 0px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  opacity: 0;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  position: absolute;
  margin-left: -15px; }

.circular:hover .overlay{
  opacity: 0.85; }

.overlay .overlay-text{
  margin-top: 100px;
  font-weight: 30px;
  font-color:#FFFFFF; }

.project-title-container{
  margin-left: 10%;
  display: -webkit-inline-box; }

.single-circular{
  width: 200px;
  height: 200px;  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-left: 10px; }

.project-title{
  font-family: inherit;
  font-size: 6rem;
  display: inline-table;
  margin-top: 50px; }

.project-category{
  display: inline;
  font-family: inherit;
  font-size: 3rem; }

.project-text{
  font-family: inherit;
  font-size: 1.8rem;
  text-align: center; }

.project-leaders{
  display: -webkit-box;
  margin-left: 10%; }

.project-leaders-img{
  display: inline-block;
  margin-left: 12px; }
  